<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leavemails.one.module.global.dao.IpInfoMapper">

    <select id="selectAll" resultType="leavemails.one.common.domain.dto.module.global.IpInfoDTO">
        SELECT id,
               INET_NTOA(ip) ip,
               lng,
               lat,
               address,
               latest_conn_time,
               insert_time,
               update_time
        FROM ip_info
        ORDER BY update_time DESC
        LIMIT 1000
    </select>
</mapper>